a {
   	text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
   	color: red;
}
body {
  background:linear-gradient(to right,#00AAFF,#00FF6C);
  background-attachment: fixed;
}

p,h3{
  color: white
}

.videoInsert {
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.v2 {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}
