a {
   	text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
   	color: red;
}
body {
  background-image: url('/static/images/annabelle.jpg');
  background-attachment: fixed;
}

p,h3{
  color: white
}


