<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/plugin/bootstrap-4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/the-flash-sign.png') }}">
</head>
<body>
    <div class="login_container">
        <nav class="navbar navbar-dark bg-dark justify-content-center">
            <a class="navbar-brand" href="#">Change Password</a>
        </nav>
        <div class="login_box">
			<form class="col-lg-6 offset-lg-3 p-5 " method="post" action="/change_password">
				<div class="alert_box">
		            {% with messages = get_flashed_messages() %}
		                {% if messages %}
		                    {% for message in messages: %}
		                        <div class="alert alert-warning" role="alert" >
		                            <p class="text-danger">{{message}}</p>
		                        </div>
		                    {% endfor %}
		                {% endif %}
		            {% endwith %}
	        	</div>
				 <div class="form-group">
				    <label for="inputCurPassword">Current Password</label>
				    <input type="password" class="form-control" id="inputCurPassword" name="current_password">
				 </div>

				 <div class="form-group">
				    <label for="inputNewPassword">New Password</label>
				    <input type="password" class="form-control" id="inputNewPassword" name="new_password">
				 </div>

				 <div class="form-group d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
    </div>
</body>
</html>
</html>