<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
	<title>{{name}}</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/drive">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload1">Upload1</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/upload2">Upload2</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/media">Stream Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
      </ul>
    </nav>

	<h3>{{drive_name[0][0]}}</h3>
	{% for i in list %}
	<ul>
		<li><a href="/download/{{i}}">{{i}}</a></li>
	</ul>
	{% endfor %}
	<a href="/back">back</a>
	<br>
	<br>
    {% if os_name == "Linux" %}
	    <h3><a href="/switchDrive">Move to {{drive_name[1][0]}}</a></h3>
    {% else %}
            {% for i in drive_name[0][1:] %}
                <h3><a href="/switchDrive/{{i[0]}}">Move to {{i}}</a></h3>
            {% endfor %}
    {% endif %}
	<h3><a href="/upload1">upload File 1</a></h3>
	<h3><a href="/upload2">upload File 2</a></h3>
</body>
</html>
