<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<h3>login</h3>
	<p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages: %}
					{{message}}
				{% endfor %}
			{% endif %}
		{% endwith %}	
	</p>
	<form method="post">
		<p>Name<input type=text name=username></p>
		<p>Password<input type=password name=password></p>
		<p><input type=submit value=Login></p>
	</form>
	<a href="/register">Register</a>
	{% if userCount == 0: %}
	<p>No user found</p>
	{% else: %}
	<p>Active User</p>
	{% for user in user_list: %}
	<ul>
		<li>{{user[0]}}</li>
	</ul>
	{% endfor %}
	{% endif %}

</body>
</html>
</html>