<!DOCTYPE html>
<html>
<head>
    <title>Media</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/plugin/bootstrap-4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/drive">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload1">Upload1</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/upload2">Upload2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
	<h3>StreamMedia</h3>  
  <a class="btn btn-primary bg-light" href="/back" role="button">back</a>  
	{% for i in range(dirLength)%}
  <div class="list-group mx-5">
    <a href="/stream/{{i}}" class="list-group-item list-group-item-action my-1">{{ list[i] }}</a>
  </div>
	<!--ul>
		<li><a href="/stream/{{i}}">{{list[i]}}</a></li>
	</ul-->
	{% endfor %}
	<!--a href="/back">back</a-->
	<br>
	<br>
    {% if os_name == "Linux" %}
	    <h3><a href="/switchDrive">Move to {{drive_name[1][0]}}</a></h3>
    {% else %}
            {% for i in drive_name[0][1:] %}
                <h3><a href="/switchDrive/{{i[0]}}">Move to {{i}}</a></h3>
            {% endfor %}
    {% endif %}
</body>
</html>
