<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>Media</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/drive">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload1">Upload1</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/upload2">Upload2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
	<h3>StreamMedia</h3>    
	{% for i in range(dirLength)%}
	<ul>
		<li><a href="/stream/{{i}}">{{list[i]}}</a></li>
	</ul>
	{% endfor %}
	<a href="/back1">back</a>
	<br>
	<br>
	<h3><a href="/switchDrive">Switch to Drive</a></h3>
</body>
</html>
