<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/plugin/bootstrap-4.5.3/dist/css/bootstrap.min.css" >
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/the-flash-sign.png') }}">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <lri class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </lri>
        <li class="nav-item">
          <a class="nav-link" href="/drive">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload1">Upload1</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/upload2">Upload2</a>
        </li>
        {% if session['username'] == "admin" %}
        <li class="nav-item">
          <a class="nav-link " href="/settings">Settings</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
    <video class="videoInsert"
           id = "stream_video"
           src="{{ video }}"
           controls controlsList="nodownload"
           autoplay
           height="720"
           width="1280"
    >
        no video to show
    </video>

    <script src="/static/js/handle_video.js"></script>
</body>
</html>
