<!DOCTYPE html>
<html>
<head>
  <title>Upload File</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/static/upload.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="page-wrapper">
      <div class="row">
        <div class="container">
          <div id="identitycard" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">Select file(s) to upload</div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <p style="padding: 8px;" class="text-center">{{uploadStatus}}</p>
                </div>
              <div class="row" style="padding: 10px 15px 9px;">
                <form method="post" action="/uploadFile" enctype="multipart/form-data">
                  <div class="form-group"> 
                    <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2"> 
                        <input type="file" name="files[]" multiple="true" autocomplete="off" required> 
                      </div>
                    </div>
                    <div class="progress">
                    <progress id="progressBar"class="progress-bar" value= "0"  max="100" style = "background-color: #111;" ></progress>
                    </div>
                    <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                      <input type="submit" value="Submit" class="btn btn-lg btn-block btn-success" style="border-radius: 50px;background-color:hover: #35832f;">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>